<!DOCTYPE html>
<html ng-app="addReceiver">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>新建收货人</title>
    <script src="../../assets/js/flexible_css.debug.js"></script>
    <script src="../../assets/js/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../build/css/app.min.css">
</head>
<body ng-controller="addReceiverCtrl" id="add-receiver-container">
<div class="title-bar">
    <span class="title-bar-left"><img src="../../assets/images/back.png"></span>
    <span>新建收货人</span>
</div>
<div class="item">
    收货人:
    <input type="text" name="name" ng-model="name">
</div>
<div class="item">
    联系方式:
    <input type="text" name="phone" ng-model="phone">
</div>
<div class="item">
    所在地区:
    <input type="text" placeholder="街道/楼牌号等" name="city" ng-model="city">
    <img src="../../assets/images/arrow_r_big.png" class="arrow-right">
</div>
<div class="item border-bottom-none">
    详细地址:
    <input type="text" name="address" ng-model="address">
</div>
<div id="save-btn" ng-click="save()">
    保存
</div>
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/angular.min.js"></script>
<script src="../js/app.min.js"></script>
</html>