<div class="parent-container">
    <div id="appoint-confirm-container">
        <div class="title-bar">
            <span class="title-bar-left" ng-click="back()"><img src="../../assets/images/back.png"></span>
            <span>确认预约</span>
        </div>
        <div class="designer-info">
        	<img ng-src="{{designer.avatar}}" class="designer-head-pic">
        	<div class="info">
        		<div class="top">
        			<span ng-bind="designer.name" class="name"></span>
        			<span class="phone" ng-bind="designer.telephone"></span>
        			<span class="notice" ng-click="">须知</span>
        		</div>
        		<div class="middle">
        			<span>服务时间：<span ng-bind="serviceTime"></span></span>
        		</div>
        		<div class="bottom">
        			<span>服务店面：<span ng-bind="designer.store.name"></span></span>
        		</div>
        	</div>
        </div>
        <div class="items-info">
        	<div class="items-name">
        		<span>服务项目：</span>
        		<span class="name">
        			<span class="name-item" ng-repeat="item in serviceList" ng-bind="item.name"></span>
        		</span>
        	</div>
        	<div class="time">
        		<span class="time-item" ng-repeat="item in serviceList" ng-bind="item.serviceTime"></span>
        	</div>
        </div>
        <div class="confirm-container">
        	<span class="confirm-btn" ng-click="confirmOrder()">确认下单</span>
        </div>
    </div>
</div>