<!-- 一键预约 -->
<div class="option" ng-if="!showMask">
	<div class="option-container">
		<div class="tips">
			<span class="title">服务项目</span>
			<span>不限</span>
		</div>
		<div class="service-option">
			<div class="option-row">
				<span><img src="../../assets/images/jianfa_h.png"></span>
				<span><img src="../../assets/images/ranfa.png"></span>
				<span><img src="../../assets/images/tangfa.png"></span>
			</div>
			<div class="option-row">
				<span><img src="../../assets/images/huli.png"></span>
				<span><img src="../../assets/images/huazhuang.png"></span>
				<span><img src="../../assets/images/meijia.png"></span>
			</div>
		</div>
		<div class="tips">
			<span class="title">选择时间</span>
			<span>不限</span>
		</div>
		<div class="time-option">
			<span class="time-row">
				<span>04月12日(今天)</span>
				<span>15:30</span>
			</span>
			<span class="time-row">
				<span>04月13日(周一)</span>
				<span>16:30</span>
			</span>
			<span class="time-row">
				<span>04月14日(周二)</span>
				<span>17:30</span>
			</span>
		</div>
		<div class="operation-panel">
			<span class="btn-recommend" ng-click="recommend()">智能推荐</span>
			<span class="btn-jump" ng-click="jump()">
				<span>跳过</span>
				<span>
					<img src="../../assets/images/double_r.png">
					<img src="../../assets/images/double_r.png">
				</span>
			</span>
		</div>
	</div>
</div>
<div class="title-bar">
    <span>一键预约</span>
</div>
<div id="appointment">
	<div class="top-nav">
		<span class="nav-item selected">
			<span>日期</span>
			<span><img src="../../assets/images/down_2_h.png" class="icon"></span>
		</span>
		<span class="nav-item">
			<span>选择时间</span>
			<span><img src="../../assets/images/down_2.png" class="icon"></span>
		</span>
		<span class="nav-item">
			<span>项目</span>
			<span><img src="../../assets/images/down_2.png" class="icon" ng-click="itemSelect()"></span>
		</span>
	</div>
	<div class="list-item border-bottom-isolated">
		<div class="last-appoint">
			<span class="cn">上次预约</span>
			<span class="en">Last appointment</span>
		</div>
		<div class="content">
			<span class="headpic">
				<img src="../../assets/images/test/stylist_headpic.png">
			</span>
			<span class="info">
				<span class="first-row">
					<span class="left">
						<span>明星</span>
						<span class="star">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star.png">
							<img src="../../assets/images/star.png">
						</span>
					</span>
					<span class="right">￥218</span>
				</span>
				<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
			</span>

		</div>
		<div class="location">
			<span class="left">
				<span><img src="../../assets/images/location.png"></span>
				<span>北京东方广场店</span>
			</span>
			<span class="right">
				<span class="consult"><img src="../../assets/images/consult.png"></span>
				<span class="appoint"><img src="../../assets/images/appoint.png"></span>
			</span>
		</div>
	</div>
	<div class="list-item">
		<div class="content">
			<span class="headpic">
				<img src="../../assets/images/test/stylist_headpic.png">
			</span>
			<span class="info">
				<span class="first-row">
					<span class="left">
						<span>明星</span>
						<span class="star">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star.png">
							<img src="../../assets/images/star.png">
						</span>
					</span>
					<span class="right">￥218</span>
				</span>
				<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
			</span>

		</div>
		<div class="location">
			<span class="left">
				<span><img src="../../assets/images/location.png"></span>
				<span>北京东方广场店</span>
			</span>
			<span class="right">
				<span class="consult"><img src="../../assets/images/consult.png"></span>
				<span class="appoint"><img src="../../assets/images/appoint.png"></span>
			</span>
		</div>
	</div>
	<div class="list-item">
		<div class="content">
			<span class="headpic">
				<img src="../../assets/images/test/stylist_headpic.png">
			</span>
			<span class="info">
				<span class="first-row">
					<span class="left">
						<span>明星</span>
						<span class="star">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star.png">
							<img src="../../assets/images/star.png">
						</span>
					</span>
					<span class="right">￥218</span>
				</span>
				<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
			</span>

		</div>
		<div class="location">
			<span class="left">
				<span><img src="../../assets/images/location.png"></span>
				<span>北京东方广场店</span>
			</span>
			<span class="right">
				<span class="consult"><img src="../../assets/images/consult.png"></span>
				<span class="appoint"><img src="../../assets/images/appoint.png"></span>
			</span>
		</div>
	</div>
	<div class="list-item">
		<div class="content">
			<span class="headpic">
				<img src="../../assets/images/test/stylist_headpic.png">
			</span>
			<span class="info">
				<span class="first-row">
					<span class="left">
						<span>明星</span>
						<span class="star">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star_h.png">
							<img src="../../assets/images/star.png">
							<img src="../../assets/images/star.png">
						</span>
					</span>
					<span class="right">￥218</span>
				</span>
				<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
			</span>

		</div>
		<div class="location">
			<span class="left">
				<span><img src="../../assets/images/location.png"></span>
				<span>北京东方广场店</span>
			</span>
			<span class="right">
				<span class="consult"><img src="../../assets/images/consult.png"></span>
				<span class="appoint"><img src="../../assets/images/appoint.png"></span>
			</span>
		</div>
	</div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye.png">
        </span>      
        <span class="text">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi.png">
        </span>
        <span class="text">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png">
        </span>
        <span class="text highlight">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan.png">
        </span>
        <span class="text">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>