<!-- 一键预约 -->
<div ng-class="{'date-select-only-mask':true,'visibility-hide':!dateShow}" forbid-scroll>
	<div ng-class="{'date-container':true,'visibility-hide':!dateShow}">
		<div class="title">
			<span ng-click="cancelSelect()">取消</span>
			<span class="confirm" ng-click="selectDate()">确定</span>
		</div>
		<div class="swiper-container select-only" date-only id="date-select-only">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" ng-repeat="time in timeArr" ng-bind="time.date" on-time-only-finished></div>
	        </div>
	    </div>
	</div>
</div>
	
<div class="option" ng-if="showMask" forbid-scroll>
	<div class="option-container">
		<div class="tips">
			<span class="title">服务项目</span>
			<span>
				<span ng-repeat="item in selectedItems" ng-bind="item.name">
				</span>
			</span>
		</div>
		<div class="service-option">
			<div class="option-row">
				<span ng-if="!jianfa" ng-click="select('jianfa')"><img src="../../assets/images/jianfa.png"></span>
				<span ng-if="jianfa" ng-click="select('jianfa')"><img src="../../assets/images/jianfa_h.png"></span>
				<span ng-if="!ranfa" ng-click="select('ranfa')"><img src="../../assets/images/ranfa.png"></span>
				<span ng-if="ranfa" ng-click="select('ranfa')"><img src="../../assets/images/ranfa_h.png"></span>
				<span ng-if="!tangfa" ng-click="select('tangfa')"><img src="../../assets/images/tangfa.png"></span>
				<span ng-if="tangfa" ng-click="select('tangfa')"><img src="../../assets/images/tangfa_h.png"></span>
			</div>
			<div class="option-row">
				<span ng-if="!huli" ng-click="select('huli')"><img src="../../assets/images/huli.png"></span>
				<span ng-if="huli" ng-click="select('huli')"><img src="../../assets/images/huli_h.png"></span>
				<span ng-if="!huazhuang" ng-click="select('huazhuang')"><img src="../../assets/images/huazhuang.png"></span>
				<span ng-if="huazhuang" ng-click="select('huazhuang')"><img src="../../assets/images/huazhuang_h.png"></span>
				<span ng-if="!meijia" ng-click="select('meijia')"><img src="../../assets/images/meijia.png"></span>
				<span ng-if="meijia" ng-click="select('meijia')"><img src="../../assets/images/meijia_h.png"></span>
			</div>
		</div>
		<div class="tips">
			<span class="title">选择时间</span>
			<!-- <span>不限</span> -->
		</div>
		<div id="time-select-container">
			<div class="swiper-container" date id="date-select">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide" ng-repeat="time in timeArr" ng-bind="time.date" on-time-finished></div>
		        </div>
		    </div>
		    <div class="swiper-container" time id="time-select">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">10:00</div>
		            <div class="swiper-slide">10:30</div>
		            <div class="swiper-slide">11:00</div>
		            <div class="swiper-slide">11:30</div>
		            <div class="swiper-slide">12:00</div>
		            <div class="swiper-slide">12:30</div>
		            <div class="swiper-slide">13:00</div>
		            <div class="swiper-slide">13:30</div>
		            <div class="swiper-slide">14:00</div>
		            <div class="swiper-slide">14:30</div>
		            <div class="swiper-slide">15:00</div>
		            <div class="swiper-slide">15:30</div>
		            <div class="swiper-slide">16:00</div>
		            <div class="swiper-slide">16:30</div>
		            <div class="swiper-slide">17:00</div>
		            <div class="swiper-slide">17:30</div>
		            <div class="swiper-slide">18:00</div>
		            <div class="swiper-slide">18:30</div>
		            <div class="swiper-slide">19:00</div>
		            <div class="swiper-slide">19:30</div>
		            <div class="swiper-slide">20:00</div>
		            <div class="swiper-slide">20:30</div>
		            <div class="swiper-slide">21:00</div>
		            <div class="swiper-slide">21:30</div>
		        </div>
		    </div>
		</div>
		
		<div class="operation-panel">
			<span class="btn-recommend" ng-click="recommend()">智能推荐</span>
			<span class="btn-jump" ng-click="jump()">
				<span>跳过</span>
				<span>
					<img src="../../assets/images/double_r.png">
					<img src="../../assets/images/double_r.png">
				</span>
			</span>
		</div>
	</div>
</div>
<div class="appoint-mask" ng-show="appointMaskShow" forbid-scroll>
	<div class="time-container" ng-show="timeShow">
		<div class="title">
			<span ng-click="cancelSelect()">取消</span>
			<span class="confirm" ng-click="selectTime()">确定</span>
		</div>
		<div class="swiper-container select-only" time-select id="time-select-only">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">10:00</div>
	            <div class="swiper-slide">10:30</div>
	            <div class="swiper-slide">11:00</div>
	            <div class="swiper-slide">11:30</div>
	            <div class="swiper-slide">12:00</div>
	            <div class="swiper-slide">12:30</div>
	            <div class="swiper-slide">13:00</div>
	            <div class="swiper-slide">13:30</div>
	            <div class="swiper-slide">14:00</div>
	            <div class="swiper-slide">14:30</div>
	            <div class="swiper-slide">15:00</div>
	            <div class="swiper-slide">15:30</div>
	            <div class="swiper-slide">16:00</div>
	            <div class="swiper-slide">16:30</div>
	            <div class="swiper-slide">17:00</div>
	            <div class="swiper-slide">17:30</div>
	            <div class="swiper-slide">18:00</div>
	            <div class="swiper-slide">18:30</div>
	            <div class="swiper-slide">19:00</div>
	            <div class="swiper-slide">19:30</div>
	            <div class="swiper-slide">20:00</div>
	            <div class="swiper-slide">20:30</div>
	            <div class="swiper-slide">21:00</div>
	            <div class="swiper-slide">21:30</div>
	        </div>
	    </div>
	</div>
	<div class="item-container" ng-show="itemShow">
		<div class="title">
			<span ng-click="cancelSelect()">取消</span>
			<span class="confirm" ng-click="selectItem()">确定</span>
		</div>
		<div class="swiper-container select-only" time-select id="item-select-only">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">剪发</div>
	            <div class="swiper-slide">染发</div>
	            <div class="swiper-slide">烫发</div>
	            <div class="swiper-slide">护理</div>
	            <div class="swiper-slide">化妆</div>
	            <div class="swiper-slide">美甲</div>
	        </div>
	    </div>
	</div>
</div>
<div class="title-bar">
    <span>一键预约</span>
</div>
<div id="appointment">
	<div class="top-nav">
		<span class="nav-item" ng-click="showDateSelect()">
			<span ng-bind="day"></span>
			<span><img src="../../assets/images/down_2.png" class="icon"></span>
		</span>
		<span class="nav-item" ng-click="showTimeSelect()">
			<span ng-bind="time"></span>
			<span><img src="../../assets/images/down_2.png" class="icon"></span>
		</span>
		<span class="nav-item" ng-click="showItemSelect()">
			<span ng-bind="itemName"></span>
			<span><img src="../../assets/images/down_2.png" class="icon" ng-click="itemSelect()"></span>
		</span>
	</div>
	<div infinite-scroll="getDesignerList()" infinite-scroll-disabled="loading" infinite-scroll-distance="1">
		<div class="list-item" ng-repeat="designer in designerList" ng-click="toDetail(designer)">
			<div class="content">
				<span class="headpic">
					<img ng-src="{{designer.avatar}}">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span ng-bind="designer.name"></span>
							<span class="star">
								<img ng-repeat="star in designer.starUrl" ng-src="{{star.path}}">
							</span>
						</span>
						<span class="right">￥<span ng-bind="designer.cutmoney"></span></span>
					</span>
					<span class="intro" ng-bind="designer.info"></span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span ng-bind="designer.store.location"></span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png" ng-click="appoint(designer, $event)"></span>
				</span>
			</div>
		</div>
		<div ng-show="loading && !loaded" class="load">加载中...</div>
        <div ng-show="loaded" class="load"></i>没有更多了</div>
	</div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye.png">
        </span>      
        <span class="text">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi.png">
        </span>
        <span class="text">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue_h.png">
        </span>
        <span class="text highlight">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan.png">
        </span>
        <span class="text">订单</span> 
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>