<div id="balance-container">
<div class="title-bar">
    <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
    <span>我的余额</span>
    <span class="title-bar-right"><a href="javascript:void(0)" class="delete" ng-click="isFiltering = !isFiltering">筛选</a></span>
</div>
<div class="count-balance">
    <span><img src="../../assets/images/coin.png"/></span>
    <span class="balance-num">账户余额&nbsp;￥</span>
</div>
<div class="head">
    <span>收支余额</span>
    <span>累计余额</span>
    <span>时间</span>
    <span>类型</span>
</div>
<div class="balance-item" ng-repeat="balance in balanceList">
    <!-- 收支余额 -->
    <span class="price">￥{{balance.price}}</span>
    <!-- 累计余额 -->
    <span class="price">￥{{balance.currentbalance}}</span>
    <!-- 时间 -->
    <span class="time" ng-bind="balance.time"></span>
    <!-- 类型 -->
    <span class="type" ng-bind="balance.type"></span>
</div>
<div class="filter clearfix" ng-show="isFiltering">
    <div class="attr-select">
        <div class="title">方式</div>
        <div class="filter-row">
            <span class="filter-item selected-item" ng-click="setFilter(1)">收入</span>
            <span class="filter-item" ng-click="setFilter(2)">支出</span>
        </div>
        <div class="title">时间</div>
        <div class="filter-row">
            <span class="filter-item" ng-click="setFilter(3)">开始</span>
            <span class="filter-item" ng-click="setFilter(4)">结束</span>
        </div>
        <div class="title">类型</div>
        <div class="filter-row">
            <span class="filter-item" ng-click="setFilter(5)">充值</span>
            <span class="filter-item" ng-click="setFilter(6)">赠送</span>
        </div>
        <div class="filter-row">
            <span class="filter-item" ng-click="setFilter(7)">部分</span>
            <span class="filter-item" ng-click="setFilter(8)">订单</span>
        </div>
        <div class="confirm-btn" ng-click="">
            确定
        </div>
    </div>
</div>
</div>