<div class="parent-container">
<div class="title-bar">
    <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
    <span>我的收藏</span>
</div>
<div id="collection-container">
    <div id="top-nav">
        <span class="nav-item"><a href="javascript:void(0)" class="selected">优秀造型师</a></span>
        <span class="nav-item"><a href="javascript:void(0)">时尚发型</a></span>
        <span class="nav-item"><a href="javascript:void(0)">明星门店</a></span>
        <span class="nav-item"><a href="javascript:void(0)">悦商品</a></span>
    </div>
    <div class="collection" ng-if="isDesigner">
        <div class="item" ng-repeat="designer in designerList" ng-click="toDesignerDetail(designer)">
            <img ng-src="{{designer.imgurl}}">
            <div class="info">
                <span class="name"><span ng-bind="designer.name"></span></span>
                <span class="store"><span ng-bind="designer.store.name"></span></span>
                <span class="order"><span ng-bind="designer.collectnum"></span>单</span>
            </div>
        </div>
    </div>
    <div class="collection" ng-if="isHaircut">
        <!-- <div class="item" ng-repeat=""></div> -->
    </div>
</div>
</div>
