<div id="go-pay-container">
    <div class="title-bar">
        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
        <span>去买单</span>
    </div>
    <div class="go-pay">
        <div class="select-designer" ng-click="selectStore()">
            <span>请选择发型师</span>
            <span class="designer">
                <span ng-bind="designerName"></span>
                <img src="../../assets/images/arrow_r.png" class="arrow-icon">
            </span>
        </div>
        <div class="item-container">
            <div class="item" ng-repeat="service in serviceList" ng-click="showService(service)">
            	<img ng-src="{{service.img}}">
            	<span ng-bind="service.name" class="service-name"></span>
            </div>
        </div>
        <div class="price">
        	<span>总计金额：</span>
        	<span ng-bind="price"></span>
        </div>
        
	    <div class="common-activity-container">
	    	<div class="title">打折和立减活动</div>
	    	<div class="item" ng-repeat="activity in commonActivityList">
	    		<span ng-bind="activity.name" class="activity-name"></span>
	    		<img src="../../assets/images/common_unselected.png" class="common-icon" ng-hide="activity.selected" ng-click="selectCommonActivity(activity)">
	    		<img src="../../assets/images/common_selected.png" class="common-icon" ng-show="activity.selected" ng-click="selectCommonActivity(activity)">
	    	</div>
	    </div>
	    <div class="nu-activity-container">
	    	<div class="title">新用户活动</div>
	    	<div class="item" ng-repeat="activity in nuActivityList">
	    		<span ng-bind="activity.name" class="activity-name"></span>
	    		<span ng-class="{'icon-check-empty':!activity.selected,'icon-check':activity.selected,'text-highlight':true,'check-icon':true}"  ng-click="selectNUActivity(activity)"></span>
	    	</div>
	    </div>
	    <button class="confirm-btn" ng-click="confirm()">确定</button>
    </div>
</div>
<div class="option" ng-if="showMask" forbid-scroll name="mask">
    <div class="service-item-container" ng-repeat="service in usefulServiceList" ng-show="service.clicking">
		<div class="selected-img-container">
			<img ng-src="{{service.clickimgurl}}" class="selected-img">
		</div>
    	<div class="item-tab" ng-show="service.hasTab">
    		<span ng-repeat="tab in service.tabs" ng-bind="tab.tabName" ng-click="selectTab(service, tab)" ng-class="{'text-highlight':tab.selected}"></span>
    	</div>
    	<div class="service-item" ng-repeat="item in service.serviceItemList">
    		<div class="left">
    			<img src="../../assets/images/common_unselected.png" ng-hide="item.selected" class="common-icon" ng-click="selectItem(item)">
    			<img src="../../assets/images/common_selected.png" ng-show="item.selected" class="common-icon" ng-click="selectItem(item)">
    			<span ng-bind="item.name"></span>
    		</div>
    		<div class="right">
    			<del ng-bind="item.price"></del>
    			<span ng-bind="item.actualprice"></span>
    		</div>
    	</div>
    	<div class="ok-btn" ng-click="confirmSelectItem(service)">
    		<button>OK</button>
    	</div>
    	<img src="../../assets/images/cancel.png" class="cancel-icon" ng-click="hideMask()">
    </div>
</div>
