<!-- 首页 -->
<div class="title-bar">
    <span class="title-bar-left">
        <span class="text">北京</span>
    </span>
    <span>ARTISAN HOUSE</span>
    <span class="title-bar-right">
        <img src="../../assets/images/search.png" alt="搜索" id="search">
    </span>
</div>
<div class="home">
	<ul class="slider" slider>
	</ul>
	<div class="top-nav">
		<span class="item">
            <span><img src="../../assets/images/shishangfaxing.png"></span>      
            <span class="text">时尚发型</span>
        </span>
        <span class="item">
            <span><img src="../../assets/images/jiamubiao.png"></span>
            <span class="text">价目表</span>
        </span>
        <span class="item">
            <span><img src="../../assets/images/qumaidan.png"></span>
            <span class="text">去买单</span>
        </span>
        <span class="item">
            <span><img src="../../assets/images/vip.png"></span>
            <span class="text">VIP专区</span>
        </span>
	</div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">明星造型师</span>
            <span class="en-title">FASHION STYLIST</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(1)"></span>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">明星门店</span>
            <span class="en-title">STAR STORE</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(2)"></span>
        <div class="content store-container">
            <span>
                <img src="../../assets/images/test/store.png">
            </span>
        </div>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">时尚资讯</span>
            <span class="en-title">FASHION INFORMATION</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(3)"></span>
        <div class="content info-container">
            <span><img src="../../assets/images/test/info_1.png"></span>
            <span><img src="../../assets/images/test/info_2.png"></span>
            <span><img src="../../assets/images/test/info_3.png"></span>
            <span><img src="../../assets/images/test/info_4.png"></span>
        </div>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">悦商城</span>
            <span class="en-title">YUE MALL</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(4)"></span>
        <div class="content mall-container">
            <span>
                <img src="../../assets/images/test/mall.png">
            </span>
        </div>
    </div>
    <div class="home-item highlight padding-left-right-none">
        <span class="item-title-bar">
            <span class="title">时尚发型</span>
            <span class="en-title">FASHION HAIRSTYLE</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(5)"></span>
        <div class="haristyle-nav">
            <span class="item">
                <span><img src="../../assets/images/hair_zonghe.png"></span>
                <span class="text">综合</span>
            </span>
            <span class="item">
                <span><img src="../../assets/images/hair_zuixin.png"></span>
                <span class="text">最新</span>
            </span>
            <span class="item">
                <span><img src="../../assets/images/hair_renqi.png"></span>
                <span class="text">人气</span>
            </span>
        </div>
        <div class="hairstyle-content">
            <div class="hair-row">
                <span><img src="../../assets/images/test/hair_1.png"></span>
                <span><img src="../../assets/images/test/hair_2.png"></span>
            </div>
            <div class="hair-row">
                <span><img src="../../assets/images/test/hair_3.png"></span>
                <span><img src="../../assets/images/test/hair_4.png"></span>
            </div>
            
        </div>
    </div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye_h.png">
        </span>      
        <span class="text highlight">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi.png">
        </span>
        <span class="text">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png">
        </span>
        <span class="text">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan.png">
        </span>
        <span class="text">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>