<!-- 首页 -->
<div class="title-bar">
    <span class="title-bar-left">
        <span class="text">北京</span>
    </span>
    <span>ARTISAN HOUSE</span>
    <span class="title-bar-right">
        <img src="../../assets/images/search.png" alt="搜索" id="search" ng-click="homeSearch()">
    </span>
</div>
<div class="home">
    <div advertise class="swiper-container slider-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="item in adList" on-finish-render-filters>
                <img ng-src="{{item.imgurl}}" ng-click="jump(item)">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
	<div class="top-nav">
		<span class="item" ng-click="toMore(5)">
            <span><img src="../../assets/images/shishangfaxing.png"></span>      
            <span class="text">时尚发型</span>
        </span>
        <span class="item" ng-click="showPrice()">
            <span><img src="../../assets/images/jiamubiao.png"></span>
            <span class="text">价目表</span>
        </span>
        <span class="item" ng-click="goPay()">
            <span><img src="../../assets/images/qumaidan.png"></span>
            <span class="text">去买单</span>
        </span>
        <!-- 点击跳转到购买vip页面 -->
        <span class="item" ng-click="toVip()">
            <span><img src="../../assets/images/vip.png"></span>
            <span class="text">VIP专区</span>
        </span>
	</div>
    <div class="home-item highlight padding-left-right-none">
        <span class="item-title-bar">
            <span class="title">明星造型师</span>
            <span class="en-title">FASHION STYLIST</span>
            <div class="swiper-container" designer id="designer-list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide item" ng-repeat="designer in starDesigners" on-designer-render-finished>
                        <img ng-src="{{designer.imgurl}}" ng-click="toDesigner(designer)">
                    </div>
                </div>
            </div>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(1)"></span>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">明星门店</span>
            <span class="en-title">STAR STORE</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(2)"></span>
        <div class="content store-container">
            <span>
                <img ng-src="{{starStore.imgurl}}" ng-click="storeDetail(starStore)">
            </span>
        </div>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">时尚资讯</span>
            <span class="en-title">FASHION INFORMATION</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(3)"></span>
        <div class="swiper-container content info-container" flashsale>
            <div class="swiper-wrapper">
                <div class="swiper-slide item" ng-repeat="news in fashionNewsList"
                 on-flash-sale-render-finished ng-click="toFashionNews(news)">
                    <img ng-src="{{news.imgurl}}">
                </div>
            </div>
        </div>
    </div>
    <div class="home-item highlight">
        <span class="item-title-bar">
            <span class="title">悦商城</span>
            <span class="en-title">YUE MALL</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(4)"></span>
        <div class="content mall-container">
            <span>
                <img ng-src="{{mall.imgurl}}" ng-click="goodsDetail(mall)">
            </span>
        </div>
    </div>
    <div class="home-item highlight padding-left-right-none">
        <span class="item-title-bar">
            <span class="title">时尚发型</span>
            <span class="en-title">FASHION HAIRSTYLE</span>
        </span>
        <span class="more"><img src="../../assets/images/more.png" ng-click="toMore(5)"></span>
        <div class="hairstyle-nav">
            <span class="item" ng-click="sort('popular')">
                <span ng-hide="type=='popular'"><img src="../../assets/images/rexiao.png"></span>
                <span ng-show="type=='popular'"><img src="../../assets/images/rexiao_h.png"></span>
                <span ng-class="{'text':true,'text-highlight':type=='popular'}">综合</span>
            </span>
            <span class="item" ng-click="sort('latest')">
                <span ng-hide="type=='latest'"><img src="../../assets/images/zuixin.png"></span>
                <span ng-show="type=='latest'"><img src="../../assets/images/zuixin_h.png"></span>
                <span ng-class="{'text':true,'text-highlight':type=='latest'}">最新</span>
            </span>
            <span class="item" ng-click="sort('hottest')">
                <span ng-hide="type=='hottest'"><img src="../../assets/images/renqi.png"></span>
                <span ng-show="type=='hottest'"><img src="../../assets/images/renqi_h.png"></span>
                <span ng-class="{'text':true,'text-highlight':type=='hottest'}">人气</span>
            </span>
        </div>
        <div infinite-scroll="getFashionHair()" infinite-scroll-disabled="loading" infinite-scroll-distance="1">
            <div class="hairstyle-content">
                <span ng-repeat="hair in fashionHairList" ng-click="showHairInfo(hair)">
                    <img ng-src="{{hair.imgurl}}">
                </span>
            </div>
            <div ng-show="loading && !loaded" class="load">加载中...</div>
            <div ng-show="loaded" class="load"></i>没有更多了</div>
        </div>
    </div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye_h.png">
        </span>      
        <span class="text highlight">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi.png">
        </span>
        <span class="text">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png">
        </span>
        <span class="text">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan.png">
        </span>
        <span class="text">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>