<!DOCTYPE html>
<html ng-app="index">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>悦艺术家</title>
    <script src="../../assets/js/flexible_css.debug.js"></script>
    <script src="../../assets/js/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../build/css/app.min.css">
</head>
<body id="index">
<div ng-view></div>
<!-- <div class="bottom-nav" ng-controller="bottomNavCtrl">
	<span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye_h.png" ng-if="isHome">
            <img src="../../assets/images/shouye.png" ng-if="!isHome">
        </span>      
        <span ng-class="{'text': true, 'highlight': isHome}">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi_h.png" ng-if="isStylist">
            <img src="../../assets/images/faxingshi.png" ng-if="!isStylist">
        </span>
        <span ng-class="{'text': true, 'highlight': isStylist}">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png" ng-if="isAppointment">
            <img src="../../assets/images/yuyue.png" ng-if="!isAppointment">
        </span>
        <span ng-class="{'text': true, 'highlight': isAppointment}">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan_h.png" ng-if="isOrder">
            <img src="../../assets/images/dingdan.png" ng-if="!isOrder">
        </span>
        <span ng-class="{'text': true, 'highlight': isOrder}">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me_h.png" ng-if="isMy">
            <img src="../../assets/images/me.png" ng-if="!isMy">
        </span>
        <span ng-class="{'text': true, 'highlight': isMy}">我的</span>
    </span>
</div> -->
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/angular.min.js"></script>
<script src="../../assets/js/angular-route.min.js"></script>
<script src="../../assets/js/mobile-angular-ui.min.js"></script>
<script src="../../assets/js/mobile-angular-ui.gestures.min.js"></script>
<script src="../js/app.min.js"></script>
</html>