<!DOCTYPE html>
<html  ng-app="login">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>悦艺术家</title>
    <script src="../../assets/js/flexible_css.debug.js"></script>
    <script src="../../assets/js/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../build/css/app.min.css">
</head>
<body ng-controller="loginCtrl" class="bg-white">
<div class="title-bar">
    <span class="title-bar-left"><img src="../../assets/images/back.png"></span>
    <span>登录</span>
</div>
<div id="login-container">
    <div class="form-group">
        <span class="icon">
            <img src="../../assets/images/phone.png" alt="手机号" class="phone-icon">
        </span>
        <span class="text-container">
            <input type="text" placeholder="请输入您的手机号" class="input-text" name="account" ng-model="account" maxlength="11">
        </span>
    </div>
    <div class="form-group margin-top-28">
        <span class="icon">
            <img src="../../assets/images/lock.png" alt="密码" class="pwd-icon">
        </span>
        <span class="text-container">
            <input type="password" placeholder="请输6-20位字母、数字或符号" class="input-text" ng-model="password" maxlength="20" minlength="6">
        </span>
    </div>
    <div class="other-operations">
        <a id="to-fast-login" ng-href="fast_login.html">无密码快速登录</a>
        <a id="to-forget-pwd" ng-href="forget_pwd.html">忘记密码？</a>
    </div>
    <div id="confirm-login-btn" class="btn-common" ng-click="login()">
        登录
    </div>
    <div id="to-register-btn" class="btn-common" ng-click="toRegister()">
        注册
    </div>
    <div class="more-choice-tips">
        <span class="line">
            <hr>
        </span>
        <span class="tips">您还有更多登录选择</span>
        <span class="line">
            <hr>
        </span>
    </div>
    <div class="login-choices">
        <span id="weibo-login">
            <img src="../../assets/images/denglu_weibo.png" alt="微博登录">
            <span class="tips">微博</span>
        </span>
        <span id="qq-login">
            <img src="../../assets/images/denglu_qq.png" alt="qq登录">
            <span class="tips">QQ</span>
        </span>
        <span id="weixin-login">
            <img src="../../assets/images/denglu_wechat.png" alt="微信登录">
            <span class="tips">微信</span>
        </span>
    </div>
</div>
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/angular.min.js"></script>
<script src="../js/app.min.js"></script>
</html>