<div class="parent-container">
	<div class="search-title-bar">
		<span class="search-box">
			<img src="../../assets/images/search_1.png" alt="搜索图标" class="common-icon">
			<form ng-submit="search()">
				<input type="search" placeholder="请输入关键字" ng-model="keyword">
			</form>
			
		</span>
		<span class="cancel-btn" back>取消</span>
	</div>
	<div id="collection-container">
        <!-- 商品列表 -->
        <div ng-if="!nothing">
            <div class="goods-container">
                <span class="item" ng-repeat="item in goodsList" ng-click="toGoodsDetail(item)">
                    <span class="goods-img-cont">
                        <img ng-src="{{item.imgurl}}" class="goods-img">
                        <span class="praise-search" ng-click="praise(item, $event)">
                            <span ng-if="!item.keep" name="praise-icon"><img src="../../assets/images/unkeep.png" alt=""></span>
                            <span ng-if="item.keep" name="praise-icon"><img src="../../assets/images/keep.png" alt=""></span>
                        </span>
                        <span class="salestate" ng-bind="item.salestate"></span>
                    </span>
                    <span class="goods-name" ng-bind="item.name"></span>
                    <span class="goods-info">
                        <span class="realprice">￥<span ng-bind="item.realprice"></span></span>
                        <span class="originalprice">￥<span ng-bind="item.originalprice"></span></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="nothing-container bg-white" ng-if="nothing">
            <img src="../../assets/images/nothing.jpg" alt="">
        </div>
    </div>
</div>