<div id="mall-container">
	<div advertise class="swiper-container advertise">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="item in adList" on-finish-render-filters>
				<img ng-src="{{item.imgurl}}" ng-click="jump(item)">
			</div>
		</div>
		<!-- <div class="swiper-pagination"></div> -->
		<div class="search-showbox" ng-click="searchGoods()">
			<div class="showbox-cont">
				<span>巴卡拉-BACCARAT</span>
				<img src="../../assets/images/home_search.png" alt="" class="home-search">
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="tg-box">
			<div class="tg-left">
				<img src="../../assets/images/tgth.png" alt="" class="title-icon">
				<span>团购特惠</span>
			</div>
			<div class="tg-right">
				<span>参团截止时间：</span>
				<div ng-bind="hh"></div>
				<span>：</span>
				<div ng-bind="mm"></div>
				<span>：</span>
				<div ng-bind="ss"></div>
			</div>
		</div>
		<div class="tg-cont">
			<div class="tg-main">
				<div class="tg-item" ng-repeat="item in flashSaleList" ng-click="toGoodsDetail(item)">
					<img ng-src="{{item.imgurl}}" class="tg-img">
					<div class="tg-name color-333" ng-bind="item.name"></div>
					<div class="tg-price">
						<span class="line-throught">原价：￥<span ng-bind="item.originalprice"></span></span>
						<span class="color-333">￥<span ng-bind="item.realprice"></span></span>
					</div>
					<div class="tg-pnum">
						<img src="../../assets/images/gywm.png" alt="">
						<span><span ng-bind="item.groupnum"></span>人团</span>
					</div>
				</div>
				<div class="tg-more" ng-click="totgDetail()">
					<span class="mr-10">《</span>
					<span>查<br />看<br />更<br />多</span>
				</div>
			</div>
		</div>
	</div>
	<div class="item-container1">
		<div class="title">
			<img src="../../assets/images/zqjx.png" alt="" class="title-icon">
			<span class="cn">专区精选</span>
		</div>
		<div class="brand-content">
			<div ng-repeat="brand in brandList track by $index" ng-click="brandDetail(brand)" class="brand-box">
				<img ng-src="{{brand.imgurl}}">
				<div class="rotate-box"></div>
			</div>
		</div>
	</div>
	<div class="item-container1">
		<div class="title">
			<span class="cn">全新品牌</span>
			<img src="../../assets/images/qxpp.png" alt="" class="title-icon">
		</div>
	</div>
	<div infinite-scroll="getGoods()" infinite-scroll-disabled="loading" infinite-scroll-distance="0">
		<div class="goods-container">
			<div class="item" ng-repeat="item in goodsList" ng-click="toThemeDetail(item)">
				<div><img ng-src="{{item.imgurl}}" class="goods-img"></div>
				<div class="goods-name" ng-bind="item.theme.name"></div>
			</div>
		</div>
		<div ng-hide="loaded" class="load">
			<img src="../../assets/images/loading2.gif" class="common-icon">
            正在加载...
		</div>
        <!-- <div ng-show="loaded" class="load"></i>没有更多内容</div> -->
	</div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye_h.png">
        </span>      
        <span class="text highlight">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/fenlei.png">
        </span>
        <span class="text">会员专区</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/gouwuche.png">
        </span>
        <span class="text">购物车</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>   
    </span>
</div>