<div class="parent-container">
    <div id="my-container">
        <div class="user-info margin-bottom-20">
            <img ng-src="{{user.avatar}}" class="head-img head-img-border">
            <!-- <span  class="account-text"><span ng-bind="user.nickname"></span></span> -->
        </div>
        <div class="nav-item nav-item-order" ng-click="toOrder(1)">
            <img src="../../assets/images/wddd.png" class="mbox-icon mbox-icon-top">
            <div class="left-content">
                <span class="item-name">我的订单</span>
            </div>
            <img src="../../assets/images/arrow_grey.png" class="arrow-icon">
        </div>
        <div class="order-nav margin-bottom-20">
            <span class="item" ng-click="toOrder(2)">
                <span class="item-img">
                    <span class="tsNum" ng-if="dzforder" ng-bind="dzfOrderLength"></span>
                    <img src="../../assets/images/daifukuan.png">
                </span>      
                <span class="text highlight">待付款</span>
            </span>
            <span class="item" ng-click="toOrder(4)">
                <span class="item-img">
                    <span class="tsNum" ng-if="dshorder" ng-bind="dshOrderLength"></span>
                    <img src="../../assets/images/daishouhuo.png">
                </span>
                <span class="text">待收货</span>
            </span>
            <span class="item" ng-click="toOrder(1)">
                <span>
                    <img src="../../assets/images/yiwancheng.png">
                </span>
                <span class="text">全部</span>
            </span>
            <span class="item" ng-click="toOrder(5)">
                <span>
                    <img src="../../assets/images/shouhou.png">
                </span>
                <span class="text">售后</span>   
            </span>
        </div>
        <a href="/wechatshop/build/html/collection">
            <div class="nav-item">
                <img src="../../assets/images/wdsc.png" class="mbox-icon">
                <div class="left-content">
                    <span class="item-name">我的收藏</span>
                </div>
                <img src="../../assets/images/arrow_grey.png" class="arrow-icon">
            </div>
        </a>
        <a href="/wechatshop/build/html/address">
            <div class="nav-item">
                <img src="../../assets/images/dzgl.png" class="mbox-icon">
                <div class="left-content">
                    <span class="item-name">地址管理</span>
                </div>
                <img src="../../assets/images/arrow_grey.png" class="arrow-icon">
            </div>
        </a>
        <!-- <a href="/wechatshop/build/html/helpcenter">
            <div class="nav-item">
                <img src="../../assets/images/bzzx.png" class="mbox-icon">
                <div class="left-content">
                    <span class="item-name">帮助中心</span>
                </div>
                <img src="../../assets/images/arrow_grey.png" class="arrow-icon">
            </div>
        </a>
        <a href="/wechatshop/build/html/aboutus">
            <div class="nav-item">
                <img src="../../assets/images/gywm.png" class="mbox-icon">
                <div class="left-content">
                    <span class="item-name">关于我们</span>
                </div>
                <img src="../../assets/images/arrow_grey.png" class="arrow-icon">
            </div>
        </a> -->
    </div>
    <div class="bottom-nav">
        <span class="item" ng-click="navigate(1)">
            <span>
                <img src="../../assets/images/shouye.png">
            </span>      
            <span class="text highlight">首页</span>
        </span>
        <span class="item" ng-click="navigate(2)">
            <span>
                <img src="../../assets/images/fenlei.png">
            </span>
            <span class="text">会员专区</span>
        </span>
        <span class="item" ng-click="navigate(3)">
            <span>
                <img src="../../assets/images/gouwuche.png">
            </span>
            <span class="text">购物车</span>
        </span>
        <span class="item" ng-click="navigate(4)">
            <span>
                <img src="../../assets/images/me_h.png">
            </span>
            <span class="text">我的</span>   
        </span>
    </div>
</div>