<!-- 订单 -->
<div class="parent-container">
<div class="title-bar">
    <span ng-bind="title"></span>
    <span class="down-icon">
	    <img src="../../assets/images/down_2.png" class="common-icon" ng-click="showMask = !showMask">
	</span>
</div>
<div id="order">
	<div ng-if="isAppointOrder">
		<div class="top-nav">
			<span ng-class="{'item':true,'selected':!appointFinished}" ng-click="getAppointOrder(0)">
				未完成
			</span>
			<span ng-class="{'item':true,'selected':appointFinished}" ng-click="getAppointOrder(1)">
				已完成
			</span>
		</div>
		<!-- 我的预约 -->
		<div class="order-item-container">
			<!-- 待接单 -->
			<div class="order-item" ng-repeat="reserve in reserveOrderList">
				<div class="item-top">
					<span class="order-num">订单号：<span ng-bind="reserve.id"></span></span>
					<span class="order-state" ng-bind="reserve.state"></span>
				</div>
				<div class="order-detail">
					<span class="left"><img ng-src="{{reserve.designer.imgurl}}"></span>
					<span class="right">
						<div class="right-row">
							<span class="right-cell-left ellipsis name" ng-bind="reserve.designer.name"></span>
							<span class="right-cell-right phone" ng-bind="reserve.designer.telephone"></span>
						</div>
						<div class="right-row">
							<span class="right-cell-left">项目:</span>
							<span class="right-cell-right">染发</span>
						</div>
						<div class="right-row">
							<span class="right-cell-left">服务时间:</span>
							<span class="right-cell-right" ng-bind="reserve.servicetime"></span>
						</div>
						<div class="right-row">
							<span class="right-cell-left">服务门店:</span>
							<span class="right-cell-right" ng-bind="reserve.store.name"></span>
						</div>
						<div class="right-row">
							<span class="right-cell-left">预约时间:</span>
							<span class="right-cell-right" ng-bind="reserve.duetime"></span>
						</div>
					</span>
				</div>
				<div class="operation">
					<span class="location">
						<img src="../../assets/images/location.png">
						<span ng-bind="reserve.store.location"></span>
					</span>
					<span>
						<span class="btn-cancel" ng-if="reserve.stateflag == 4 || reserve.stateflag == 0" ng-click="cancelReserveOrder(reserve)">取消订单</span>
						<span class="btn-cancel" ng-if="reserve.stateflag == 5">立即支付</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 服务记录 -->
	<div ng-if="isServiceOrder">
		<div class="top-nav">
			<span ng-class="{'item':true,'selected':allService}" ng-click="getServiceRecord(2)">
				全部
			</span>
			<span ng-class="{'item':true,'selected':unfinishedService}" ng-click="getServiceRecord(0)">
				未完成
			</span>
			<span ng-class="{'item':true,'selected':finishedService}" ng-click="getServiceRecord(1)">
				已完成
			</span>
		</div>
		<div class="record-item-container">
			<div class="record-item" ng-repeat="service in consumerOrderList">
				<div class="top-panel">
					<span class="order-num">订单号：<span ng-bind="service.id"></span></span>
					<span class="right">
						<span ng-bind="service.state"></span>
						<img src="../../assets/images/rubbish.png" class="common-icon" ng-if="service.stateflag == 2 || service.stateflag == 3" ng-click="deleteConsumerOrder(service)">
					</span>
				</div>
				<div class="order-info">
					<img ng-src="{{service.designer.imgurl}}" class="record-icon">
					<span class="text-info">
						<span class="user-info">
							<span class="name" ng-bind="service.designer.name"></span>
							<span class="phone" ng-bind="service.designer.telephone"></span>
						</span>
						<span>下单时间：<span ng-bind="service.time"></span></span>
						<span>服务店面：<span ng-bind="service.store.name"></span></span>
						<span class="location">
							<img src="../../assets/images/location_3.png" class="location-icon">
							<span ng-bind="service.store.location"></span>
						</span>
					</span>
				</div>
				<div class="items-text">
					<span>项目：</span>
					<span class="items">
						<span ng-repeat="item in service.item" class="item-info">
							<span ng-bind="item.name"></span>
							<span class="price">
								<del ng-bind="item.price"></del>
								<span class="highlight">￥<span ng-bind="item.actualprice"></span></span>
							</span>
						</span>
					</span>
				</div>
				<div class="price-info">
					<span>费用合计：￥<span ng-bind="service.price"></span></span>
					<span>优惠：<span ng-bind="service.discount"></span></span>
					<span>实付：<span class="highlight">￥<span ng-bind="service.actualprice"></span></span></span>
				</div>
				<div class="operation">
					<button ng-if="service.stateflag == 0" ng-click="cancelConsumerOrder(service)">取消订单</button>
					<button class="btn-pay" ng-if="service.stateflag == 0">立即支付</button>
					<button ng-if="service.stateflag == 1">去评价</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 商城订单 -->
	<div ng-if="isMallOrder">
		<div class="top-nav">
			<span ng-class="{'item':true,'selected':allGoods}" ng-click="getMallOrder(2)">
				全部
			</span>
			<span ng-class="{'item':true,'selected':unfinishedGoods}" ng-click="getMallOrder(0)">
				未完成
			</span>
			<span ng-class="{'item':true,'selected':finishedGoods}" ng-click="getMallOrder(1)">
				已完成
			</span>
		</div>
		<div class="mall-order-container">
			<div class="mall-order-item" ng-repeat="goods in goodsOrderList">
				<div class="top-panel">
					<span>订单号：<span ng-bind="goods.id"></span></span>
					<span class="right">
						<span ng-bind="goods.state"></span>
						<img src="../../assets/images/rubbish.png" class="common-icon" ng-if="goods.stateflag==2||goods.stateflag==4||goods.stateflag==6||goods.stateflag==7" ng-click="deleteGoodsOrder(goods)">
					</span>
				</div>
				<div class="pic-panel">
					<img ng-repeat="img in goods.imgUrlArr" ng-src="{{img.path}}">
				</div>
				<div class="operation">
					<span>实付：<span class="highlight">￥<span ng-bind="goods.actualprice"></span></span></span>
					<span class="right">
						<button ng-if="goods.stateflag==0">立即支付</button>
						<button ng-if="goods.stateflag==0" ng-click="cancelGoodsOrder(goods)">取消订单</button>
						<button ng-if="goods.stateflag==8">去评价</button>
						<button ng-if="goods.stateflag==3||goods.stateflag==4||goods.stateflag==5||goods.stateflag==8">申请退款</button>
						<button ng-if="goods.stateflag==8">确认收货</button>
						<button ng-if="goods.stateflag==8">申请退款</button>
					</span>
				</div>
			</div>
			<!-- <div class="mall-order-item">
				<div class="top-panel">
					<span>订单号：0123456789</span>
					<span class="right">
						<span>待支付</span>
					</span>
				</div>
				<div class="pic-panel">
					<img src="../../assets/images/test/mall_order.png">
					<img src="../../assets/images/test/mall_order2.png">
					<img src="../../assets/images/test/mall_order.png">
				</div>
				<div class="operation">
					<span>实付：<span class="highlight">￥20</span></span>
					<span class="right">
						<button ng-click="toPay()">立即支付</button>
						<button>取消订单</button>
					</span>
				</div>
			</div>
			<div class="mall-order-item">
				<div class="top-panel">
					<span>订单号：0123456789</span>
					<span class="right">
						<span>已完成</span>
						<img src="../../assets/images/rubbish.png" class="common-icon">
					</span>
				</div>
				<div class="pic-panel">
					<img src="../../assets/images/test/mall_order.png">
					<span class="goods-intro">永久 26寸铝合金 27速 双碟刹 可锁死铝肩前叉永久</span>
				</div>
				<div class="operation">
					<span>实付：<span class="highlight">￥20</span></span>
					<span class="right">
						<button>立即评价</button>
					</span>
				</div>
			</div> -->
		</div>
	</div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye.png">
        </span>      
        <span class="text">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi.png">
        </span>
        <span class="text">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png">
        </span>
        <span class="text">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan_h.png">
        </span>
        <span class="text highlight">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>
<div class="type-select-container" ng-if="showMask">
	<div class="type-select">
		<span ng-class="{'item': true, 'highlight': isAppointOrder}" ng-click="orderNav(1)">
			我的预约
		</span>
		<span ng-class="{'item': true, 'highlight': isServiceOrder}" ng-click="orderNav(2)">服务记录</span>
		<span ng-class="{'item': true, 'highlight': isMallOrder}" ng-click="orderNav(3)">商城订单</span>
	</div>
</div>
</div>