<!-- 订单 -->
<div class="parent-container">
	<div class="title-bar">
	    <span class="title-bar-left">
	        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
	    </span>
		<span>
			<span >退货申请</span>
		</span>
        <span class="title-bar-right">
            <span class="title-bar-right">
                <div class="returnGoodsBth" ng-if="selectedGoodsid.length >= 1" ng-click="confirmReturn()">确认退货</div>
                <div class="returnGoodsBth disableBth" ng-if="selectedGoodsid.length <= 0">确认退货</div>
            </span>
        </span>
	</div>
	<div id="returnGoods">
        <div class="returnGoodsTitle">请选择要退货的商品</div>
        <div class="goods">
            <div class="item-container" ng-repeat="goods in goodsList">
                <span class="selected-pic">
                    <img src="../../assets/images/pay_unselected.png" ng-show="!goods.selected" ng-click="selectGoods(goods)">
                    <img src="../../assets/images/pay_selected.png" ng-show="goods.selected" ng-click="selectGoods(goods)">
                </span>
                <span class="item-img">
                    <img ng-src="{{goods.imgurl}}">
                </span>
                <span class="item-info">
                    <span class="name" ng-bind="goods.name"></span>
                    <span class="attribute" ng-bind="goods.colorandsize"></span>
                    <span class="real-price">￥<span ng-bind="goods.price"></span></span>
                </span>
                <span class="change-num">
                    <span>X<span class="num" ng-bind="goods.num"></span></span>
                </span>
            </div>
        </div>
        <div class="returnPrice">
            <span>退款总计</span>
            <span class="aulprice">￥<span ng-bind="getTotalPrice()"></span></span>
        </div>
	</div>
</div>