<!-- 发型师 -->
<div class="title-bar">
    <span class="title-bar-left">
        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
    </span>
    <span>发型师</span>
    <span class="title-bar-right">
        <img src="../../assets/images/search.png" alt="搜索" id="search" ng-click="searchDesigner()">
        <img src="../../assets/images/list.png" alt="列表显示" class="switch" ng-click="switch()" ng-if="isList">
        <img src="../../assets/images/grid.png" alt="网格显示" class="switch" ng-if="!isList" ng-click="switch()">
    </span>
</div>
<div id="stylist">
	<div class="top-nav">
		<span ng-class="{'nav-item':true,'selected':showStore}" ng-click="getStoreInfo()">
			门店查找<img src="../../assets/images/down.png" class="icon" ng-show="!showStore">
			<img src="../../assets/images/down_h.png" class="icon" ng-show="showStore">
			<ul class="city-item-container" ng-show="showStore">
				<li class="city-item" ng-repeat="area in areaList">
					<span ng-bind="area.name" ng-class="{'item-text':true,'text-highlight':area.citySelected}" ng-click="selectCity(area, $event)"></span>
					<ul class="store-item-container" ng-show="area.citySelected">
						<li class="store-item" ng-repeat="store in area.storelist">
							<span ng-bind="store.name" ng-class="{'item-text':true,'text-highlight':store.selected}" ng-click="selectStore(store, $event)"></span>
						</li>
					</ul>
				</li>
			</ul>
		</span>
		<span ng-class="{'nav-item':true,'selected':filterShow}" ng-click="showFilterItems()">
			综合排序<img src="../../assets/images/down.png" class="icon" ng-show="!filterShow">
			<img src="../../assets/images/down_h.png" class="icon" ng-show="filterShow">
			<ul class="filter-container" ng-show="filterShow">
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterDefault}" ng-click="filter('default', $event)">综合排序</span>
				</li>
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterMostReserve}" ng-click="filter('mostreserve', $event)">订单最多</span>
				</li>
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterHighestScore}" ng-click="filter('highestscore', $event)">好评优先</span>
				</li>
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterNearest}" ng-click="filter('nearest', $event)">离我最近</span>
				</li>
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterCheapest}" ng-click="filter('cheapest', $event)">价格最低</span>
				</li>
				<li class="filter-item">
					<span ng-class="{'item-text':true,'text-highlight':filterExpensive}" ng-click="filter('expensive', $event)">价格最高</span>
				</li>
			</ul>
		</span>
		<span ng-class="{'nav-item':true,'selected':isShowSort}" ng-click="showSort()">
			自主筛选<img src="../../assets/images/updown1.png" class="icon" ng-show="!isShowSort">
			<img src="../../assets/images/updown1_h.png" class="icon" ng-show="isShowSort">
		</span>
	</div>
	<div class="grid-container" ng-if="isList">
		<div class="item" ng-repeat="designer in designerList" ng-click="toDetail(designer)">
			<img ng-src="{{designer.imgurl}}">
			<div class="info">
				<span ng-bind="designer.name" class="name"></span>
				<div class="bottom-info">
					<span ng-bind="designer.store.name"></span>
					<span>
						<span ng-bind="designer.ordernum"></span> 单
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="list-container" ng-if="!isList">
		<div class="list-item" ng-repeat="designer in designerList" ng-click="toDetail(designer)">
			<div class="content">
				<span class="headpic">
					<img ng-src="{{designer.avatar}}">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span ng-bind="designer.name"></span>
							<span class="star">
								<img ng-repeat="star in designer.starUrl" ng-src="{{star.path}}">
							</span>
						</span>
						<span class="right">￥<span ng-bind="designer.cutmoney"></span></span>
					</span>
					<span class="intro" ng-bind="designer.info"></span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span ng-bind="designer.store.location"></span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png"></span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="bottom-nav">
    <span class="item" ng-click="navigate(1)">
        <span>
            <img src="../../assets/images/shouye.png">
        </span>      
        <span class="text">首页</span>
    </span>
    <span class="item" ng-click="navigate(2)">
        <span>
            <img src="../../assets/images/faxingshi_h.png">
        </span>
        <span class="text highlight">发型师</span>
    </span>
    <span class="item" ng-click="navigate(3)">
        <span>
            <img src="../../assets/images/yuyue.png">
        </span>
        <span class="text">一键预约</span>
    </span>
    <span class="item" ng-click="navigate(4)">
        <span>
            <img src="../../assets/images/dingdan.png">
        </span>
        <span class="text">订单</span>   
    </span>
    <span class="item" ng-click="navigate(5)">
        <span>
            <img src="../../assets/images/me.png">
        </span>
        <span class="text">我的</span>
    </span>
</div>
<div class="designer-mask" ng-show="showMask" forbid-scroll>
	<div class="sort-container" ng-show="isShowSort">
		<div class="type-container">
			<div class="title">
				门店类型
			</div>
			<div>
				<span ng-class="{'item':true,'selected':isDirectSale}" ng-click="selectStoreType(1)">直营店</span>
				<span ng-class="{'item':true,'selected':isCooperate}" ng-click="selectStoreType(2)">合作店</span>
			</div>
		</div>
		<div class="type-container">
			<div class="title">
				优惠活动
			</div>
			<div>
				<span ng-repeat="activity in couponActivity" ng-class="{'item':true,'selected':activity.selected}" ng-bind="activity.name"
				 ng-click="selectCouponActivity(activity)"></span>
			</div>
		</div>
		<div class="type-container border-bottom-none">
			<div class="title">
				新用户专享
			</div>
			<div>
				<span ng-repeat="activity in newUserActivity" ng-class="{'item':true,'selected':activity.selected}" ng-bind="activity.name"
				 ng-click="selectNewUserActivity(activity)"></span>
			</div>
		</div>
		<div class="clearfix">
			<span class="confirm-btn pull-right" ng-click="selfFilter()">确定</span>
		</div>
	</div>
</div>