<!-- 发型师 -->
<div class="title-bar">
    <span class="title-bar-left">
        <span class="title-bar-left"><img src="../../assets/images/back.png"></span>
    </span>
    <span>发型师</span>
    <span class="title-bar-right">
        <img src="../../assets/images/search.png" alt="搜索" id="search">
        <img src="../../assets/images/list.png" alt="列表显示" class="switch" ng-click="switch()" ng-if="!isList">
        <img src="../../assets/images/grid.png" alt="网格显示" class="switch" ng-if="isList" ng-click="switch()">
    </span>
</div>
<div id="stylist">
	<div class="top-nav">
		<span class="nav-item selected">门店查找<img src="../../assets/images/down_h.png" class="icon"></span>
		<span class="nav-item">自助筛选<img src="../../assets/images/down.png" class="icon"></span>
		<span class="nav-item">综合排序<img src="../../assets/images/updown.png" class="icon"></span>
	</div>
	<div class="grid-container" ng-if="!isList">
		<div class="grid-row">
			<span><img src="../../assets/images/test/stylist_1.png"></span>
			<span><img src="../../assets/images/test/stylist_2.png"></span>
		</div>
		<div class="grid-row">
			<span><img src="../../assets/images/test/stylist_3.png"></span>
			<span><img src="../../assets/images/test/stylist_4.png"></span>
		</div>
		<div class="grid-row">
			<span><img src="../../assets/images/test/stylist_5.png"></span>
			<span><img src="../../assets/images/test/stylist_6.png"></span>
		</div>
	</div>
	<div class="list-container" ng-if="isList">
		<div class="list-item">
			<div class="last-appoint">
				<span class="cn">上次预约</span>
				<span class="en">Last appointment</span>
			</div>
			<div class="content">
				<span class="headpic">
					<img src="../../assets/images/test/stylist_headpic.png">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span>明星</span>
							<span class="star">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star.png">
								<img src="../../assets/images/star.png">
							</span>
						</span>
						<span class="right">￥218</span>
					</span>
					<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span>北京东方广场店</span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png"></span>
				</span>
			</div>
		</div>
		<div class="list-item">
			<div class="content">
				<span class="headpic">
					<img src="../../assets/images/test/stylist_headpic.png">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span>明星</span>
							<span class="star">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star.png">
								<img src="../../assets/images/star.png">
							</span>
						</span>
						<span class="right">￥218</span>
					</span>
					<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span>北京东方广场店</span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png"></span>
				</span>
			</div>
		</div>
		<div class="list-item">
			<div class="content">
				<span class="headpic">
					<img src="../../assets/images/test/stylist_headpic.png">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span>明星</span>
							<span class="star">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star.png">
								<img src="../../assets/images/star.png">
							</span>
						</span>
						<span class="right">￥218</span>
					</span>
					<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span>北京东方广场店</span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png"></span>
				</span>
			</div>
		</div>
		<div class="list-item">
			<div class="content">
				<span class="headpic">
					<img src="../../assets/images/test/stylist_headpic.png">
				</span>
				<span class="info">
					<span class="first-row">
						<span class="left">
							<span>明星</span>
							<span class="star">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star_h.png">
								<img src="../../assets/images/star.png">
								<img src="../../assets/images/star.png">
							</span>
						</span>
						<span class="right">￥218</span>
					</span>
					<span class="intro">年轻人敢于尝试是好事，但是很多人的选择是盲目的。从发型师的角度而言，我们同时承担了...</span>
				</span>

			</div>
			<div class="location">
				<span class="left">
					<span><img src="../../assets/images/location.png"></span>
					<span>北京东方广场店</span>
				</span>
				<span class="right">
					<span class="consult"><img src="../../assets/images/consult.png"></span>
					<span class="appoint"><img src="../../assets/images/appoint.png"></span>
				</span>
			</div>
		</div>
	</div>
</div>