#address-container {
	width: 100%;
	margin: 0 auto;
	padding-top:1.066667rem;
	overflow:hidden;
	.swipeleft{
		transform:translateX(-1.6rem);
		-webkit-transform:translateX(-1.6rem);
	}
	.addr-item {
		width: 11.6rem;
		height: 1.946667rem;
		border-bottom: 0.013333rem solid #e9e9e9;
		overflow:hidden;
		-webkit-transition:all 0.2s linear;
		transition:all 0.2s linear;
		background:#fff;
		position:relative;
		.deletAddress{
			display:inline-block;
			width:1.6rem;
			height:1.946667rem;
			float:right;
			img{
				width:1.6rem;
				height:1.946667rem;
			}
		}
		.default-site {
			width: 1.146667rem;
		}
		.name{
			display:block;
			max-width:1.333333rem;
			line-height:1.933333rem;
			color:#333;
			font-size:0.373333rem;
			position:absolute;
			left:0.4rem;
			top:0;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.phone {
			display:inline-block;
			font-size:0.346667rem;
			color:#333;
			line-height:0.346667rem;
			margin-top:0.56rem;
			position:absolute;
			left:1.866667rem;
			top:0;
		}
		.address {
			display: block;
			margin-top: 0.293333rem;
			font-size:0.373333rem;
			color:#666;
			word-break: break-word;
			position:absolute;
			left:1.866667rem;
			top:0.8rem;
			max-width:6.666667rem;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.default-site-tips {
			position:absolute;
			left:0.4rem;
			bottom:0.36rem;
			width:0.666667rem;
			height:0.346667rem;
			line-height:0.346667rem;
			text-align:center;
			font-size:0.226667rem;
			color: #666;
			border-radius: 0.026667rem;
			border:0.013333rem solid #333;
		}
		.edit {
			position:absolute;
			left:9.04rem;
			top:0.653333rem;
			img {
				width: 0.466667rem;
				height: 0.466667rem;
			}
		}
	}
	.addBtn-contaner{
		width:100%;
		height:auto;
		position:fixed;
		left:0;
		bottom:1.333333rem;
		#add-addr {
			margin: 0 auto;
			height: 0.933333rem;
			width: 6.133333rem;
			text-align: center;
			line-height: 0.826667rem;
			font-size: 0.346667rem;
			color: #333;
			border:0.053333rem solid #333;
			border-radius:0.026667rem;
		}
	}
	.nothing-address{
	  width:100%;
	  height:100vh;
	  .shownPic{
	    display:block;
	    width:8.0rem;
	    height:auto;
	    margin:0 auto;
	    padding-top:0.96rem;
	  }
	  .addAddressPic{
	    width:3.733333rem;
	    height:1.333333rem;
	    margin:0.426667rem auto;
	    background:url(../../assets/images/button_280.png);
	    background-size:100% 100%;
	    color:#333;
	    font-size:0.32rem;
	    text-align:center;
	    line-height:1.466667rem;
	  }
	}
}