#cart-container {
	background-color: #f1f1f1;
	padding-bottom:1.466667rem;
	.display-flex {
		display: -moz-box; 
		display: -ms-flexbox;
		display:box;
		display: -webkit-box;
		display: flex;
		display: -webkit-flex;
	}
	.cart-title{
		width:100%;
		color:#666;
		font-size:0.32rem;
		text-align:center;
		line-height:0.906667rem;
		border-bottom:0.013333rem solid #e9e9e9;
	}
	.price {
		color: #999999;
		font-size: 0.32rem;
	}
	.no-content{
		width:100%;
		height:100vh;
		background:#fff;
		img{
			display:block;
			width:8.0rem;
			height:8.0rem;
			margin:2.026667rem auto 0;
		}
	}
	.goods {
		background-color: #f1f1f1;
		margin:0 auto 1.306667rem;
		width:9.466667rem;
		.item-container {
			background-color: #ffffff;
			margin-bottom: 0.266667rem;
			height: 4.266667rem;
			border-radius:0.04rem;
			position:relative;
			.selected-pic{
				position:absolute;
				left:0.066667rem;
				top:1.72rem;
				img{
					width:0.826667rem;
					height:0.826667rem;
				}
			}
			.item-img{
				position:absolute;
				left:0.96rem;
				top:0.64rem;
				img{
					width:2.986667rem;
					height:2.986667rem;
					border-radius:0.026667rem;
				}
			}
			.item-info{
				position:absolute;
				left:4.293333rem;
				top:0.826667rem;
				.name{
					color:#333;
					font-size:0.373333rem;
					display:block;
					overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    width: 4.0rem;
				}
				.attribute{
					color:#666;
					font-size:0.32rem;
					display:block;
					margin-top:0.213333rem;
					.color{
						margin-right:0.266667rem;
					}
				}
				.real-price{
					color:#903939;
					font-size:0.373333rem;
					display:block;
					margin-top:0.906667rem;
				}
			}
			.delete{
				position:absolute;
				right:0.266667rem;
				top:0.266667rem;
				img{
					width:0.48rem;
					height:0.48rem;
				}
			}
			.change-num{
				position:absolute;
				right:0.746667rem;
				top:1.813333rem;
				width:0.426667rem;
				.add-pic{
					width:0.426667rem;
					height:0.426667rem;
					display:block;
				}
				.num{
					display:block;
					width:0.426667rem;
					height:1.066667rem;
					line-height:1.066667rem;
					text-align:center;
					color:#333;
					font-size:0.373333rem;
				}
				.reduce-pic{
					width:0.426667rem;
					height:0.426667rem;
					display:block;
				}
			}
		}
		
	}
	.bottom-panel {
		position: fixed;
		bottom: 1.306667rem;
		width: 100%;
		height: 1.466667rem;
		background-color: #ffffff;
		border-top: 0.013333rem solid #e9e9e9;
		.display-flex;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-moz-align-items:center;
		-ms-align-items:center;
		-o-align-items:center;
		align-items:center;
		-webkit-align-items:center;
		.left-panel {
			margin-left: 0.413333rem;
			font-size: 0.32rem;
			color: #666;
			img {
				height: 0.746667rem;
				width: 0.746667rem;
			}
		}
		.middle-panel {
			.display-flex;
			-moz-flex-direction:column;
			-ms-flex-direction:column;
			-o-flex-direction:column; 
			flex-direction:column; 
			-webkit-flex-direction:column;
			-moz-align-items:flex-start;
			-ms-align-items:flex-start;
			-o-align-items:flex-start;
			align-items:flex-start;
			-webkit-align-items:flex-start;
			-moz-justify-content: center;
			-ms-justify-content: center;
			-o-justify-content: center;
			justify-content: center;
			-webkit-justify-content: center;
			.count-num {
				font-size: 0.32rem;
				color: #666;

			}
		}
		.right-panel {
			width: 2.72rem;
			height: 1.066667rem;
			background-color: #333;
			.display-flex;
			-moz-align-items:center;
			-ms-align-items:center;
			-o-align-items:center;
			align-items:center;
			-webkit-align-items:center;
			-moz-justify-content: center;
			-ms-justify-content: center;
			-o-justify-content: center;
			justify-content: center;
			-webkit-justify-content: center;
			font-size: 0.346667rem;
			color: #fff;
			margin-right:0.266667rem;
			border-radius:0.026667rem;
		}
	}
}