@import "display";
#change-record-container {
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;
	position: absolute;
	#no-record-container {
		.flex-column;
		align-items: center;
		font-size: 0.4rem;
		color: #999999;
		.box {
			margin-top: 1.733333rem;
			margin-bottom: 1.733333rem;
			height: 2.666667rem;
			width: 2.666667rem;
		}
		.change-text {
			color: #d1b884;
		}
	}
}