.vip-detail{
	overflow-x: hidden;
	.display-flex {
		display: -moz-box; 
		display: -ms-flexbox;
		display:box;
		display: -webkit-box;
		display: flex;
		display: -webkit-flex;
	}
	.display-flex-column {
		display: -moz-box; 
		display: -ms-flexbox;
		display:box;
		display: -webkit-box;
		display: flex;
		display: -webkit-flex;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		-o-flex-direction:column; 
		flex-direction:column; 
		-webkit-flex-direction:column;
	}
	padding-top:0 !important;
	.vip-pic{
		width:10rem;
		height:12.4rem;
		margin:0 auto;
	}
	.title {
		width:100%;
		height:0.853333rem;
		line-height:0.853333rem;
		font-size:0.32rem;
		color:#333;
		padding-left:0.72rem;
		position:relative;
		font-weight:bold;
		.title-icon{
			width:0.32rem;
			height:0.32rem;
			position:absolute;
			left:0.266667rem;
			top:0.266667rem;
		}
	}
	.goods-container{
		padding-bottom:1.333333rem !important;
		background:#fff;
		.item{
			margin:0 0 0.133333rem !important;
		}
	}
	.ktvip-btn{
		width:100%;
		height:1.173333rem;
		background:#292a3b;
		color:#fff;
		font-size:0.373333rem;
		line-height:1.173333rem;
		text-align:center;
		position:relative;
	}
	
	.ktvip-btn:before { content: ""; position: absolute; width:200px; height: 100%; top: 0; left: -150px; overflow: hidden;
	
	background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
	
	background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	
	background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	animation:mymove 5s infinite;
	-webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
	}
	@keyframes mymove
	{
	from {left:-150px;}
	to {left:150%;}
	}

	@-webkit-keyframes mymove /*Safari and Chrome*/
	{
	from {left:-150px;}
	to {left:150%;}
	}
}