@import "display";
#fashion-info-container {
	.slider-container {
		height: 5.6rem;
		img {
			width: 100%;
			height: 5.6rem;
		}
	}
	.headline {
		background-color: #ffffff;
		height: 1.066667rem;
		padding: 0 0.333333rem;
		.flex;
		align-items: center;
		justify-content: space-between;
		color: #333333;
		background-color: #ebebeb;
		.headline-text {
			.flex;
			align-items: center;
		}
		.title {
			color: #666666;
			max-width: 5.2rem;
		}
	}
	.select-tab {
		height: 1.066667rem;
		border-top: 0.04rem solid #ebebeb;
		border-bottom: 0.04rem solid #ebebeb;
		.flex;
		align-items: center;
		.tab-item {
			flex: 1;
			text-align: center;
			color: #333333;
			font-size: 0.48rem;
			border-right: 0.026667rem solid #ebebeb;
			&:last-child {
				border-right: none;
			}
		}
	}
	.list-item {
		padding: 0.173333rem 0.266667rem;
		height: 2.6rem;
		.flex;
		align-items: center;
		border-bottom: 0.04rem solid #ebebeb;
		.info-img {
			height: 2.266667rem;
			width: 2.266667rem;
			border-radius: 0.133333rem;
		}
		.text-content {
			flex: 1;
			.flex-column;
			justify-content: center;
			margin-left: 0.266667rem;
			.title {
				color: #444444;
				font-size: 0.426667rem;
				overflow : hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
			.content {
				font-size: 0.32rem;
				color: #aaaaaa;
				overflow : hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
}