@import "display";
.fashion-hair-info-container {
	background-color: #000000;
	height: 100%;
	width: 100%;
	position: absolute;
	.flex-column;
	.content {
		flex: 1;
		.flex;
		align-items: center;
		img {
			width: 100%;
			height: auto;
		}
	}
	.bottom-operation {
		bottom: 0.32rem;
		width: 100%;
		height: 0.92rem;
		color: #ffffff;
		font-size: 0.32rem;
		padding: 0 0.266667rem;
		.flex;
		justify-content: space-between;
		.left {
			.flex;
			align-items: center;
			height: 0.586667rem;
			.zan-icon {
				margin-right: 0.133333rem;
			}
		}
		.right {
			.flex;
			align-items: center;
			height: 0.586667rem;
			.ring-icon {
				margin-right: 0.266667rem;
			}
		}
		.praise-icon {
		    font-size: 0.533333rem;
		    margin-right: 0.133333rem;
		}
	}
}