@import "display";
#my-container {
	background-color: #f4f4f4;
	padding-bottom: 1.466667rem;
	.margin-bottom-20 {
		margin-bottom: 0.213333rem;
	}
	.user-info {
		background:#333;
		height: 4.666667rem;
		width: 10.0rem;
		position: relative;
		.flex-column;
		-moz-align-items:center;
		-ms-align-items:center;
		-o-align-items:center;
		align-items:center;
		-webkit-align-items:center;
		.head-img {
			width: 2.133333rem;
			height: 2.133333rem;
			margin-top: 1.573333rem;
			border-radius: 100%;
		}
		.head-img-border {
			border: 0.013333rem solid #333;
		}
		.vip-img {
			margin-top: 0.2rem;
			width: 0.426667rem;
			height: 0.28rem;
		}
		.login {
			margin-top: 0.2rem;
			color: #fff;
			a {
				color: #fff;
				font-size: 0.32rem;
			}
		}
		.account-text {
			color: #333;
			font-size: 0.4rem;
			margin-top: 0.453333rem;
		}
		.bottom-info {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1.2rem;
			background: rgba(0, 0, 0, 0.5);
			color: #d1b984;
			width: 100%;
			.flex;
			-moz-align-items:center;
			-ms-align-items:center;
			-o-align-items:center;
			align-items:center;
			-webkit-align-items:center;
			padding: 0.266667rem 0;
			.item {
				-moz-box-flex: 1;        
				-ms-flex: 1; 
				-webkit-box-flex: 1 ;           
				flex: 1;
				-webkit-flex: 1;
				.flex-center;
				border-right: 0.013333rem solid #fff;
				&:last-child {
					border-right: none !important;
				}
				img {
					height: 0.586667rem;
					width: 0.586667rem;
					margin-right: 0.2rem;
				}
			}
		}
	}
	.nav-item-order{
		height:1.173333rem !important;
	}
	.nav-item {
		height: 1.466667rem;
		border-bottom: 0.013333rem solid #e9e9e9;
		width: 100%;
		.flex;
		-moz-align-items:center;
		-ms-align-items:center;
		-o-align-items:center;
		align-items:center;
		-webkit-align-items:center;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		background-color: #fff;
		position:relative;
		.mbox-icon{
			width:0.6rem;
			height:auto;
			position:absolute;
			left:0.4rem;
			top:0.426667rem;
		}
		.mbox-icon-top{
			top:0.293333rem;
		}
		.left-content {
			height: 100%;
			.flex;
			-moz-align-items:center;
			-ms-align-items:center;
			-o-align-items:center;
			align-items:center;
			-webkit-align-items:center;
			padding-left:1.133333rem;
			.item-name {
				color: #333;
				font-size: 0.346667rem;
			}
		}
	}
	// 订单部分
.order-nav {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    height: 1.946667rem;
    display: -moz-box; 
    display: -ms-flexbox;
    display:box;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items:center;
    -webkit-align-items:center;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    .item {
      display: -moz-box; 
        display: -ms-flexbox;
        display:box;
        display: -webkit-box;
        display: flex;
        display: -webkit-flex;
        -moz-align-items:center;
        -ms-align-items:center;
        -o-align-items:center;
        align-items:center;
        -webkit-align-items:center;
        -moz-flex-direction:column;
        -ms-flex-direction:column;
        -o-flex-direction:column; 
        flex-direction:column; 
        -webkit-flex-direction:column;
      img {
        height: auto;
        width: 0.586667rem;
      }
      .text {
        font-size: 0.32rem;
        color: #333;
      }
      .item-img{
      	position:relative;
      	.tsNum{
      		position:absolute;
      		display:block;
      		text-align:center;
      		line-height:0.466667rem;
      		top:-0.133333rem;
      		right:-0.133333rem;
      		width:0.466667rem;
      		height:0.466667rem;
      		background:red;
      		border-radius:100%;
      		color:#fff;
      		font-size:0.266667rem;
      		overflow:hidden;
      		font-weight:bold;
      	}
      }
    }
  }
}
