#pay-container {
	background-color: #f1f1f1;
	.display-flex {
		display: flex;
		display: -webkit-flex;
	}
	.pay {
		background-color: #f1f1f1;
		padding-bottom: 0.853333rem;
		.item {
			padding: 0 0.533333rem;
			border-bottom: 0.013333rem solid #cccccc;
			font-size: 0.4rem;
			color: #666666;
			height: 1.173333rem;
			line-height: 1.173333rem;
			background-color: #ffffff;
		}
		.pay-balance {
			background-color: #ffffff;
			.display-flex;
			align-items: center;
			height: 1.333333rem;
			padding: 0 0.266667rem 0 0.533333rem;
			justify-content: space-between;
			font-size: 0.4rem;
			color: #333333;
			img {
				width: 0.586667rem;
				height: 0.586667rem;
			}
		}
		.tips {
			height: 0.933333rem;
			padding: 0.4rem 0.533333rem 0 0.533333rem;
			font-size: 0.32rem;
			color: #121212;
		}
		.other-pay-tips {
			height: 1.253333rem;
			padding: 0.533333rem 0.533333rem 0 0.533333rem;
			font-size: 0.426667rem;
			color: #121212;
		}
		.type-item {
			height: 1.306667rem;
			.display-flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0.213333rem 0 0.533333rem;
			background-color: #ffffff;
			border-bottom: 1px solid #cccccc;
			font-size: 0.4rem;
			color: #333333;
			.left {
				.display-flex;
				height: 100%;
				align-items: center;
				.type-icon {
					margin-right: 0.4rem;
					img {
						width: 0.826667rem;
						height: 0.8rem;
					}
				}
			}
			.right {
				img {
					height: 0.6rem;
					width: 0.6rem;
				}
			}
		}
		.pay-btn {
			height: 0.893333rem;
			width: 8.666667rem;
			margin: 0.853333rem auto 0 auto;
			line-height: 0.893333rem;
			text-align: center;
			color: #ffffff;
			font-size: 0.48rem;
			background-color: #3dbfd5;
			border-radius: 0.133333rem;
		}
	}
}