@import "display";
#stylist {
	margin-bottom: 1.306667rem;
	background-color: #f1f1f1;
	.display-flex {
		display: flex;
		display: -webkit-flex;
	}
	.display-flex-column {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
	}
	.top-nav {
		height: 0.866667rem;
		background-color: #fbf7fd;
		color: #121212;
		font-size: 0.346667rem;
		.display-flex;
		justify-content: space-around;
		align-items: center;
		.selected {
			color: #3dbfd5;
			border-bottom: 2px solid #3dbfd5;
		}
		.nav-item {
			height: 100%;
			line-height: 0.866667rem;
		}
		.icon {
			width: 0.4rem;
			height: 0.4rem;
			margin-left: 0.106667rem;
		}
	}
	.grid-container {
		padding-bottom: 0.266667rem;
		background-color: #ffffff;
		margin-top: 0.266667rem;
		.flex;
		flex-wrap: wrap;
		.item {
			width: 4.6rem;
			height: 6.693333rem;
			margin-top: 0.266667rem;
			margin-left: 0.266667rem;
			position: relative;
			img {
				width: 4.6rem;
				height: 6.693333rem;
				border-radius: 0.133333rem;
			}
			.info {
				position: absolute;
				background: rgba(0, 0, 0, 0.5);
				height: 1.36rem;
				width: 100%;
				bottom: 0;
				color: #ffffff;
				font-size: 0.32rem;
				padding: 0.133333rem 0.2rem;
				.flex-column;
				justify-content: space-between;
				border-bottom-left-radius: 0.133333rem;
				border-bottom-right-radius: 0.133333rem;
				.name {
					width: 100%;
					text-align: center;
					font-size: 0.4rem;
				}
				.bottom-info {
					.flex;
					justify-content: space-between;
					width: 100%;
				}
			}
		}
	}
	.list-container {
		.list-item {
			padding: 0 0.266667rem 0.266667rem 0.266667rem;
			background-color: #ffffff;
			border-bottom: 0.013333rem solid #d2d2d2;
			.last-appoint {
				.display-flex;
				align-items: flex-end;
				color: #3dbfd5;
				font-weight: bold;
				padding-top: 0.266667rem;
				.cn {
					font-size: 0.4rem;
				}
				.en {
					margin-left: 0.133333rem;
					font-size: 0.266667rem;
				}
			}
			.content {
				padding-top: 0.4rem;
				.display-flex;
				align-items: center;
				.headpic {
					img {
						width: 2.24rem;
						height: 2.16rem;
					}
				}
				.info {
					flex: 1;
					margin-left: 0.32rem;
					.display-flex-column;
					justify-content: center;
					.first-row {
						.display-flex;
						justify-content: space-between;
						.left {
							color: #121212;
							font-size: 0.4rem;
							.display-flex;
							align-items: center;
							.star {
								margin-left: 0.133333rem;
								.display-flex;
								align-items: center;
								img {
									height: 0.4rem;
									width: 0.4rem;
								}
							}
						}
						.right {
							font-size: 0.373333rem;
							font-weight: bold;
							color: #3dbfd5;
						}
					}
					.intro {
						color: #666666;
						font-size: 0.32rem;
						margin-top: 0.266667rem;
					}
				}
			}
			.location {
				color: #121212;
				font-size: 0.293333rem;
				.display-flex;
				justify-content: space-between;
				align-items: flex-end;
				.left {
					.display-flex;
					align-items: flex-end;
					img {
						height: 0.4rem;
						width: 0.4rem;
					}
				}
				.right {

					.appoint {
						margin-left: 0.266667rem;
					}
					img {
						width: 1.6rem;
						height: 0.746667rem;
					}
				}
			}
		}
	}
}