@import "display";
.stylist-work-container {
	background-color: #ffffff;
	padding: 0.266667rem;
	.work-row {
		margin-bottom: 0.266667rem;
		&:last-child {
			margin-bottom: 0;
		}
		.flex;
		justify-content: space-between;
		.item {
			width: 4.6rem;
			height: 6.666667rem;
			position: relative;
		}
		img {
			width: 4.6rem;
			height: 6.666667rem;
		}
	}
}