* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
.title-bar {
	position: relative;
	height: 1.333333rem;
	text-align: center;
	border-bottom: 0.026667rem solid #e8e5e7;
}

.title {
	font-size: 0.48rem;
	color: #121212;
	height: 1.333333rem;
	width: 1.333333rem;
	line-height: 1.333333rem;
}


.container {
	padding: 0 0.266667rem;
	/*color: #ffffff;*/
}
.item {
	height: 1.333333rem;
	border-bottom: 0.026667rem solid #e8e5e7;
	background: #ffffff;
	/*background: #eeeeee;*/
}

.back {
    position: absolute;
    left: 0;
    margin-left: 0.266667rem;
    top: 50%;
    margin-top: -0.293333rem;
}
.back img {
	width: 0.586667rem;
	height: 0.586667rem;
}

.note {
	display: inline-block;
	font-size: 0.426667rem;
	color: #121212;
	height: 1.333333rem;
	line-height: 1.333333rem;
}

.arrow {
	float: right;
	display: inline-block;
	line-height: 1.333333rem;
}
#cacheValue {
	float: right;
	display: inline-block;
	line-height: 1.333333rem;
	margin-right: 0.426667rem;
	font-size: 0.293333rem;
	color: #121212;
}
#version {
	float: right;
	display: inline-block;
	line-height: 1.333333rem;
	margin-right: 0.32rem;
	font-size: 0.293333rem;
	color: #121212;
}
.user-opr {
	/*align-content: center;*/
}
#user-quit {
	width: 8.64rem;
	height: 1.146667rem;
	background: #3dc0d5;
	font-size: 0.48rem;
	color: #ffffff;
	margin-top: 2.533333rem;
	border-radius: 0.2rem;
}